{% extends 'base.html' %}

{% block con %}

    <h4>数据列表</h4>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <a href="{{ add_url }}" class="btn btn-primary">添加数据</a>

                {% if showlist.config.search_fields %}
                    <form action="" class="pull-right">
                        <input type="text" name="q" value="{{ showlist.config.key_words }}"><button>submit</button>
                    </form>
                {% endif %}

                <form action="" method="post">
                    {% csrf_token %}
                    <select name="action" id="" style="width: 200px; padding: 5px 8px; display: inline-block;">
                        <option value="">----------------</option>
                        {% for item in showlist.get_action_list %}
                            <option value="{{ item.name }}">{{ item.desc }}</option>
                        {% endfor %}

                    </select><button type="submit" class="btn btn-info">GO</button>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            {% for item in showlist.get_header %}
                                <th>{{ item }}</th>
                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for data in showlist.get_body %}
                            <tr>
                                {% for item in data %}
                                    <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <nav class="pull-right">
                        <ul class="pagination">
                            {{ showlist.pagination.page_html|safe }}
                        </ul>
                    </nav>

                </form>

            </div>

            <div class="col-md-3">
                {% if showlist.config.list_filter %}
                    <div class="filter">
                        <h4>Filter</h4>
                        {% for filter_field,linktags in showlist.get_filter_linktags.items %}
                            <div class="well">
                                <p>{{ filter_field.upper }}</p>
                                {% for link in linktags %}
                                    <p>{{ link|safe }}</p>
                                {% endfor %}

                            </div>
                        {% endfor %}

                    </div>
                {% endif %}

            </div>

        </div>
    </div>

    <script type="text/javascript">
        $('#choice').click(function () {
            if($(this).prop('checked')){
                $('.choice_item').prop('checked',true)
            }else{
                $('.choice_item').prop('checked',false)
            }

        })

    </script>

{% endblock %}
